@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: rgb(92, 92, 92);
    font-size: 16px;
    width: 28px;
    margin-top: 30px;
}

ul {
    list-style: none;
}

#container {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    display: none;
}

.menu {
    display: none;
    align-self: flex-start;
    width: 100%;
}

.menu ul li {
    margin-top: 5px;
    padding: 20px;
    text-align: center;
}

.menu ul li:hover {
    background-color: rgb(156, 156, 156);
}

.selected {
    color: red;
    font-weight: 700;
}

.icons {
    align-self: flex-end;
    margin-right: 30px;
}

#invisible {
    display: none;
}

.slide {
    width: 100%;
    height: 500px;
    padding-left: 30px;
    margin-top: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 70px;
    margin-bottom: -80px;
    transition: background-image 0.5s ease-in-out;
}

.slide h1 {
    font-size: 64px;
    color: rgb(17, 17, 17);
}

.slide p {
    font-size: 18px;
}

#shop-now {
    width: 140px;
    height: 40px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid rgb(26, 25, 25);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-now p {
    font-size: 13px;
    font-weight: 700;
}

#shop-now:hover {
    background-color: black;
    color: white;
}

#items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount {
    color: red;
    font-weight: 700;
    margin-left: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.price-through {
    text-decoration: line-through;
}

.item {
    width: 400px;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
} 

.item, .collections, .summer-sale {
    margin-bottom: 50px;
}

.item-img {
    height: 400px;
    display: flex;
    justify-content: flex-end;
}

.item-img img {
    width: 400px;
    height: 400px;
}

.sale {
    width: 70px;
    height: 25px;
    margin-right: 10px;
    color: white;
    margin-top: 10px;
    background-color: rgb(245, 154, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
}

.sale p {
    color: white;
    text-align: center;
    font-weight: bolder;
}

.collections {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 220, 224);
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 12px;
    background-image: url(../images/modelo1.jfif);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 50%;
}

.collections h2 {
    font-size: 56px;
    font-weight: bolder;
    color: rgb(32, 31, 31);
}

.collections h3 {
    font-size: 24px;
    color: rgb(78, 78, 78);
}

.collections p {
    font-size: 16px;
    color: rgb(116, 115, 115);
    font-weight: bold;
}

.collections-button {
    width: 140px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid rgb(26, 25, 25);
    background-color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collections-button:hover {
    background-color: black;
    color: white;
}

.summer-sale {
    width: 400px;
    height: 400px;
    background-color: rgb(216, 220, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-image: url(../images/modelo2.jfif);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 50%;
}

.summer-sale h2 {
    font-size: 48px;
}

.summer-sale h3 {
    font-size: 18px;
}

/*Media query */

@media screen and (min-width: 768px) {

    #container {
        width: 940px;
        margin: 0 auto;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -12px;
    }

    .icons {
        align-self: center;
        margin-bottom: 16px;
    }
    
    .menu {
        display: flex;
        width: 470px;
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
    }

    .menu ul li:hover {
        background-color: white;
        font-weight: bolder;
    }

    hr {
        display: inline-block;
        background-color: rgb(230, 230, 230);
        width: 940px;
        border: none;
        height: 0.8px;
    }

    .slide {
        margin-top: 0;
        margin-bottom: 0;
    }

    #bar {
        display: none;
    }

    #items {
        width: 940px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -10px;
    }

    .item {
        width: 175px;
        height: 350px;
        margin-left: 15px;
    }

    .item-img img {
        width: 175px;
        height: 310px;
    }

    .collections {
        width: 175px;
        height: 350px;
        margin-top: 5;
    }

    .collections p {
        font-size: 10px;
        margin-top: 15px;
    }

    .collections h3 {
        font-size: 13px;
    }

    .collections h2 {
        font-size: 25px;
    }

    .summer-sale {
        width: 175px;
        height: 350px;
    }

    .summer-sale h3 {
        font-size: 12px;
    }

    .summer-sale h2 {
        font-size: 24px;
    }

    



}